*{
  margin: 0px;
  padding: 0px;
}

img{
  display: block;
  margin: 0 auto;
}
.container{
  background-image: url("../img/Landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width:1000px){
  .container{
    height: 100vh;
    background-image: url("../img/dawn.png");
  }
}

@media screen and (max-width:650px){
  .container{
    background-image: url("../img/maxresdefault.jpg");
    height: 100vh;
  }
}
